/** @format */

.container-blog-detail {
  width: 1000px;
  margin: 50px auto;
  background-color: transparent;
}
body {
  background-image: url(https://images.unsplash.com/photo-1690221065159-1de014122f87?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1528&q=80);
}
