/** @format */

body {
  background-image: url(https://images.unsplash.com/photo-1690221065159-1de014122f87?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1528&q=80);
}

.container-testimonial {
  width: 600px;
  margin: 20px auto;
}
.testimonial-title {
  text-align: center;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.testimonial {
  width: 300px;
  height: 500px;
  color: white;
  box-shadow: 0px 5px 20px 5px black;
  padding: 8px;
}

.testimonial:hover {
  scale: 1.1;
}

.testimonial img {
  width: 100%;
}

.profile-testimonial {
  height: 300px;
  width: 300px;
  /* margin-left: 10px;
  margin-right: 10px; */
}
/* rating */
.rating-testimonial {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}

.rating-testimonial button i {
  font-size: 20px;
  color: black;
}
.rating-testimonial button {
  border: none;
  background-color: white;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
}

.rating-testimonial button:hover {
  scale: 1.1;
}

#not-found h2 {
  color: white;
  margin-top: 110px;
  text-transform: uppercase;
}
